
<h2 class='page-header'>Whoops! Sorry nothing here.</p>
<div class='container'>
	<div class='row'>
		<div class='col-xs-12'>
			<div class='col-xs-offset-4 col-xs-4 col-xs-offset-4'>	
			<img alt='nhan' src='/assets/battle_screens/nhan/nhan.png' class='banner'>
			</div>
		</div>
	</div>
</div>
