extends interface.pug
block content
    div(class="page-content")
        div(id="content-container" class="container")
        //fab
        button(id="fab" class="mdl-button mdl-js-button mdl-button--fab mdl-js-ripple-effect mdl-button--colored ")
            i(class="material-icons") add