extends layout.pug

block footer
    footer
        div.container.center
            div.row
                //div.col-lg-2.col-md-3.col-sm-4.col-xs-12
                div.col-xs-12
                    h2 Footer in progress...
        div.end
            div.row
                h3 &copy Alex Ng #{year}

block navigation
    nav
        ul(class='nav nav-pills pull-right')
            li(role='presentation')
                a(href='/') Home

            li(role='presentation')
                a(href='/about') About
        h1
            a(href='https://Cynicalbird.github.io/')#nav-title Alex
        p#nav-message #{message}

mixin card(title, picture)
    //Card container
    div(class="card" id= title)
        div(class="container")
            div(class="row")
                - var col = "col-xs-12"
                case title
                    when "Welcome"
                        - col = "center"
                div(class= col)
                    if (picture)
                        img(class="profile" src= picture , alt= picture )
                    case title
                        default
                            h1(class= "title-"+title)= title
                            //when "Welcome"
                                //h1.title= title+" I'm Alex"
                    +loading(title)

mixin loading(title)
    div(class= title, type="loading")="loading..."

block scripts
    // Bootstrap
    link(href="/css/bootstrap.css" rel="stylesheet" type="text/css")
    // JQuery
    script(src="/js/jquery.min.js")
    script(src="/js/bootstrap.min.js")
    // End of bootstrap dependencies
    // AngularJS
    script(src="/js/angular.js")
    // End of AngularJS
    link(href="/stylesheets/style.css" rel="stylesheet" type="text/css")
    script(src="/javascripts/animations.js")
    script(src="/javascripts/ajax.js")
    script(src="/javascripts/structure.js")

    //apple device icons
    link(rel="apple-touch-icon" href="/apple-touch-icon.png")
    link(rel="apple-touch-icon" href="touch-icon-iphone.png")
    link(rel="apple-touch-icon" sizes="152x152" href="touch-icon-ipad.png")
    link(rel="apple-touch-icon" sizes="180x180" href="touch-icon-iphone-retina.png")
    link(rel="apple-touch-icon" sizes="167x167" href="touch-icon-ipad-retina.png")

    //favicons
    link(rel="shortcut icon" href="/favicon.ico")
    link(rel="icon" sizes="16x16 32x32 64x64" href="/favicon.ico")
    link(rel="icon" type="image/png" sizes="196x196" href="/favicon-192.png")
    link(rel="icon" type="image/png" sizes="160x160" href="/favicon-160.png")
    link(rel="icon" type="image/png" sizes="96x96" href="/favicon-96.png")
    link(rel="icon" type="image/png" sizes="64x64" href="/favicon-64.png")
    link(rel="icon" type="image/png" sizes="32x32" href="/favicon-32.png")
    link(rel="icon" type="image/png" sizes="16x16" href="/favicon-16.png")
    link(rel="apple-touch-icon" href="/favicon-57.png")
    link(rel="apple-touch-icon" sizes="114x114" href="/favicon-114.png")
    link(rel="apple-touch-icon" sizes="72x72" href="/favicon-72.png")
    link(rel="apple-touch-icon" sizes="144x144" href="/favicon-144.png")
    link(rel="apple-touch-icon" sizes="60x60" href="/favicon-60.png")
    link(rel="apple-touch-icon" sizes="120x120" href="/favicon-120.png")
    link(rel="apple-touch-icon" sizes="76x76" href="/favicon-76.png")
    link(rel="apple-touch-icon" sizes="152x152" href="/favicon-152.png")
    link(rel="apple-touch-icon" sizes="180x180" href="/favicon-180.png")
    meta(name="msapplication-TileColor" content="#FFFFFF")
    meta(name="msapplication-TileImage" content="/favicon-144.png")
    meta(name="msapplication-config" content="/browserconfig.xml")