extends layout.pug

block navigation
    //The drawer is always open in large screens. The header is always shown, even in small screens.
    header(class="nav mdl-layout__header mdl-layout__header--waterfall mdl-shadow--6dp")
        //always visible row
        div(class="mdl-layout__header-row")
            h3
                a(id="site-link" href="http://alex-ng.com") Alex
            div(class="mdl-layout-spacer")
            div(class="mdl-textfield mdl-js-textfield mdl-textfield--expandable mdl-textfield--floating-label mdl-textfield--align-right")
                label(class="mdl-button mdl-js-button mdl-button--icon" for="fixed-header-drawer-exp")
                    i(class="material-icons") search
                div(class="mdl-textfield__expandable-holder")
                    input(class="mdl-textfield__input" type="text" name="sample" id="fixed-header-drawer-exp")
        //collapsible row
        div(class="mdl-layout__header-row")
            div(class="mdl-layout-spacer")
            nav(id="localNav" class="mdl-navigation")

    //sidebar
    div(class="mdl-layout__drawer")
        //title
        span(class="mdl-layout-title")= title
        //nav links
        nav(class="mdl-navigation")
            a(class="mdl-navigation__link" href="/") Home
            //a(class="mdl-navigation__link" href="/admin") Admin
            a(class="mdl-navigation__link" href="/projects") Projects
block footer
    footer.mdl-mini-footer
        div.mdl-mini-footer__left-section
            div.mdl-logo Copyright &copy; Alex Ng 2017
            ul.mdl-mini-footer__link-list
                li
                    p.footer Icon's By <a class='footer' href="http://www.flaticon.com/authors/pixel-buddha">Pixel Budda</a> from <a class="footer" href="http://www.flaticon.com">FlatIcon.com</a>



mixin card(title, picture)
    //Card container
    div(class="card" id= title)
        div(class="container")
            div(class="row")
                - var col = "col-xs-12"
                case title
                    when "Welcome"
                        - col = "center"
                div(class= col)
                    if (picture)
                        img(class="profile" src= picture , alt= picture )
                    case title
                        default
                            h1(class= "title-"+title)= title
                            //when "Welcome"
                                //h1.title= title+" I'm Alex"
                    +loading(title)

mixin loading(title)
    div(class= title, type="loading")="loading..."

block scripts
    // Bootstrap
    link(href="/css/bootstrap.css" rel="stylesheet" type="text/css")
    // JQuery
    script(src="/js/jquery.min.js")
    script(src="/js/bootstrap.min.js")
    // End of bootstrap dependencies
    // Material design lite
    link(href="/material/material.min.css" rel="stylesheet", type="text/css")
    script(src="/material/material.min.js")
    //material design icons
    link(href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet")
    // End of material design lite dependencies
    // AngularJS
    script(src="/js/angular.js")
    // End of AngularJS
    //link(href="/stylesheets/style.css" rel="stylesheet" type="text/css")
    link(href="stylesheets/main.css" rel="stylesheet" type="text/css")
    script(src="/javascripts/animations.js")
    script(src="/javascripts/ajax.js")
    script(src="/javascripts/structure.js")

    //apple device icons
    link(rel="apple-touch-icon" href="/apple-touch-icon.social")
    link(rel="apple-touch-icon" href="touch-icon-iphone.social")
    link(rel="apple-touch-icon" sizes="152x152" href="touch-icon-ipad.social")
    link(rel="apple-touch-icon" sizes="180x180" href="touch-icon-iphone-retina.social")
    link(rel="apple-touch-icon" sizes="167x167" href="touch-icon-ipad-retina.social")

    //favicons
    link(rel="shortcut icon" href="/favicon.ico")
    link(rel="icon" sizes="16x16 32x32 64x64" href="/favicon.ico")
    link(rel="icon" type="image/social" sizes="196x196" href="/favicon-192.social")
    link(rel="icon" type="image/social" sizes="160x160" href="/favicon-160.social")
    link(rel="icon" type="image/social" sizes="96x96" href="/favicon-96.social")
    link(rel="icon" type="image/social" sizes="64x64" href="/favicon-64.social")
    link(rel="icon" type="image/social" sizes="32x32" href="/favicon-32.social")
    link(rel="icon" type="image/social" sizes="16x16" href="/favicon-16.social")
    link(rel="apple-touch-icon" href="/favicon-57.social")
    link(rel="apple-touch-icon" sizes="114x114" href="/favicon-114.social")
    link(rel="apple-touch-icon" sizes="72x72" href="/favicon-72.social")
    link(rel="apple-touch-icon" sizes="144x144" href="/favicon-144.social")
    link(rel="apple-touch-icon" sizes="60x60" href="/favicon-60.social")
    link(rel="apple-touch-icon" sizes="120x120" href="/favicon-120.social")
    link(rel="apple-touch-icon" sizes="76x76" href="/favicon-76.social")
    link(rel="apple-touch-icon" sizes="152x152" href="/favicon-152.social")
    link(rel="apple-touch-icon" sizes="180x180" href="/favicon-180.social")
    meta(name="msapplication-TileColor" content="#FFFFFF")
    meta(name="msapplication-TileImage" content="/favicon-144.social")
    meta(name="msapplication-config" content="/browserconfig.xml")