doctype html
html
    head
        title= title
        meta(name="viewport" content="width=device-width, initial-scale=1")
        meta(charset="UTF-8")
        block scripts
    body(ng-app="app" ng-controller="main")
        div(class="mdl-layout mdl-js-layout mdl-layout--fixed-drawer mdl-layout--fixed-header")
            block navigation
            main(class="mdl-layout__content")
                div(class="page-content")
                    block content
                    block footer
