extends interface.pug
block content
    div(class="page-content")
        div(id="content-container" class="container")

block navigation
    header(class="mdl-layout__header mdl-layout__header--scroll mdl-color--primary")
        //spacer
        div(class="mdl-layout--large-screen-only mdl-layout__header-row")
        //title and message
        div(class="mdl-layout--large-screen-only mdl-layout__header-row")
            h3= title
        //spacer
        div(class="mdl-layout--large-screen-only mdl-layout__header-row")
        //tabs
        //div(class="mdl-layout__tab-bar-container mdl-color--red-700")
            //div(class="mdl-layout__tab-bar-button mdl-layout__tab-bar-left-button mdl-color--red-700")
                i(class="material-icons") chevron_left
        div(class="mdl-layout__tab-bar mdl-js-ripple-effect mdl-color--primary-dark" data-upgraded="MaterialRipple")
            a(href="#overview" class="mdl-layout__tab is-active") Overview
            a(href="#webdev" class="mdl-layout__tab") Web development
            a(href="#games" class="mdl-layout__tab") Games
            a(href="#android" class="mdl-layout__tab") Android
            //div(class="mdl-layout__tab-bar-button mdl-layout__tab-bar-right-button mdl-color--red-700")
                i(class="material-icons") chevron_right
    div(class="mdl-layout__drawer")
        //title
        span(class="mdl-layout-title")= title
        //nav links
        nav(class="mdl-navigation")
            a(class="mdl-navigation__link" href="/") Home
            //a(class="mdl-navigation__link" href="/admin") Admin
            a(class="mdl-navigation__link" href="/projects") Projects



        //div(class="welcome-card-wide mdl-card mdl-shadow--6dp")
            div(class="mdl-card__title")
                h2(class="mdl-card__title-text") Welcome!
                img(src="/images/projects/icons/analytics-3.png" alt="favicon" class="logo")
            div(class="mdl-card__supporting-text" color="black") This text might describe the photo and provide further information, such as where and when it was taken.
            div(class="mdl-card__actions mdl-card--border")
                a(href="link" class="mdl-button mdl-button--colored mdl-js-button mdl-js-ripple-effect") Related Action
            div(class="mdl-card__menu")
                button(class="mdl-button mdl-button--icon mdl-js-button mdl-js-ripple-effect")
                    i(class="material-icons") share