extends article

block content
	h1.page-header= title
	div.row
		div(class='col-md-12')
			+article('About','Currently studying in their 2nd year of Computer Science at Ryerson University, Alex Ng is interested in Computer graphics and vision. Alex has hosted and deployed various internet services and web servers while practicing Front-end web development. Alex is currently working on side projects to strengthen their software development portfolio.','https://cynicalbird.github.io/rsc/img/profile_pic.jpg')
	div.row
		div(class='col-xs-12')
			h2(class='page-header') Interests
		div(class='col-md-6 col-xs-12')
			+article('Technology', 'Alex is interesting in technology and keeps track with the latest developments. Alex mostly follows consumer mobile technologies like Android, Windows phone, etc.')
		div(class='col-md-6 col-xs-12')
			+article('UI/UX', 'Alex is interested in creating software with impactful, intuitive, and eficient design. Alex is interested in the different methods and techniques of making software create better experiences with its users.')