extend layout

block footer
	div.container
		div.row
			div(class='col-md-3')
				h1= title
			div(class='col-md-3')
				h1 Labs
				ul
					li
						a(href='https://Cynicalbird.github.io/cps630/labs/lab1') "Lab 1"
					li 
						a(href='https://Cynicalbird.github.io/cps630/labs/lab2') "Lab 2"
					li 
						a(href='https://Cynicalbird.github.io/cps630/labs/lab3') "Lab 3"
					li 
						a(href='https://Cynicalbird.github.io/cps630/labs/lab4') "Lab 4"
					li 
						a(href='https://Cynicalbird.github.io/cps630/labs/lab5') "Lab 5"