@import url('https://fonts.googleapis.com/css?family=Roboto+Condensed');

#panel 
{
	background-color: white;
	padding-left: 40px;
	padding-right: 40px;
	padding-bottom: 40px;
	border-radius: 6px;
	border: 1px solid #d8dde2;
	margin-bottom: 40px;
	margin-top: 120px;
	min-height: 66.6666%;
}

#panel p { font-size: 24px; }

.page-header
{
	border-bottom: none;
	text-align: center;
	font-size: 48px;
}

html, body 
{
	width: 100%;
	/* min-height: 100%; */
	height: 100%;
	background-color: rgb(248,248,248);
	margin: 0px;
	padding: 0px;
}

body 
{
	/*padding-left: 50px;
	padding-right: 50px;*/	
	font-family: 'Roboto Condensed', sans-serif;
}

nav 
{
	a 
	{
		padding-bottom: 20px;
	}
	padding-bottom: 20px;
}

div.container#footer h1, img.icon 
{
	padding: 10px;
	height:100%; 
	display:inline-block;
}

/*
div.container#footer h2, div.container#footer ul
{
	display:inline-block;
}
*/

footer, div.container#footer 
{
	position: relative;
	bottom: 0;
	width: 100%;
	min-height: 33.3333%;
	margin: 0;
	padding-top: 20px;
	color: white;
	background-color: #263238/*#242729*/;
}

div.container#footer h2
{ 
	margin-bottom: 10px; 
	margin-top: 10px;
	padding-left: 10px;
}

div.container#footer
{

}

div.container#footer a
{
	font-size: 24px;
	color: #5C6BC0;
	/* list-style-type: none; */
}

div.container#fab
{ 
	position: fixed;
	bottom: 0;
	right: 0;
	border-radius: 50%;
	width: 75px;
	height: 75px;
	margin: 10px;
	padding: 0;
	background-color: #5C6BC0;
	z-index: 10;
	text-align: center;
	border: 2px solid white;
}

div.container#fab a {color: white;}

div.container#fab h1{ padding: 12px; margin: 0; text-align: center;}

div.container#fab:hover { background-color: #7986CB; border: 2px solid #d8dde2; }

div.container#nav
{
	position: fixed;
	top: 0;
	background-color: #00897B;
	margin-right: 0px;
	margin-left: 0px;
	width: 100%;
	height: 80px;
	margin-bottom: 40px;
	z-index: 10;
}

div.container#nav a, div.container#nav h3 
{
	color: white;
	transition: background-color 1s;
}

div.container#nav a:hover
{
	background-color: #26A69A;
	transition-timing-function: ease-out;
	border-radius: 6px;
}	

img.article
{
	border-radius: 50%;
	width: 300px;
	border: 8px solid #d8dde2;
	text-align: center;
	z-index: 1;
}

b { color: #5C6BC0; }

div#ending
{
	margin-top: 20px;
	padding: 8px;
	background-color: #5C6BC0;
}

img.article:hover
{

}

li[role=active] 
{
	border-radius: 6px;
	background-color: #5C6BC0;
}

div.article-wrapper
{
	text-align: center;
}

@media only screen and (min-width: 992px) 
{

}

@media only screen and (min-width: 1200px)
{

}
