<!DOCTYPE html>
<html>
    <head>
        <!-- Bootstrap dependencies -->
        <!-- Latest compiled and minified CSS -->
        <link href="/css/bootstrap.css" rel="stylesheet">
        <!-- JQuery -->
        <script src="/js/jquery.min.js"></script>
        <script src="/js/bootstrap.min.js"></script>
        <!-- End of bootstrap dependencies -->
        <!-- AngularJS -->
        <script src="/js/angular.js"></script>
        <!-- End of AngularJS -->
    </head>
    <body>
        <div ng-include="nav"></div>
        <div class="container">
            {{{ body }}}
        </div>
    </body>
</html>